table, th, td{
    font-size: 12px;
    font-family: Arial;
    text-align: center;
}

tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}

th{
    background-color: #78b200;
    color: white;
    height: 5em;

}

td{
    padding: 0.3em;
}

table{
    width: 600px;
    border-spacing: 0;
}


table td:nth-child(2){
    color: #0D5188;
}

table td:nth-child(1){
    width: 5%;
    text-align: left;
}

table td:nth-child(4){
    width: 15%;
}

table td:nth-child(5){
    width: 15%;
}

table td:nth-child(6){
    width: 15%;
}
